h1 {
  color: white;
  background-color: black;
  font-family: 'introrustg-base2line', serif;
}

h2, h3 {
  color: black;
  font-family: 'introrustg-base2line', serif;
}

h1{
  text-align: center;
}

th, td {
  padding: 15px;
  text-align: center;
}

table{
  border-style: inset;
  text-align: center;
  margin: 30px 600px;
}

.planetimg{
  width: 50%;
  height: 60%;
}

