body{
  background-color: #6699CC;
}

h1 {
  color: white;
  background-color: black;
  font-family: 'introrustg-base2line', serif;
  font-size: 30px;
}

h2, h3 {
  font-family: 'introrustg-base2line', serif;
}

h1{
  text-align: center;
}

h3{
  color: white;
}

th, td {
  padding: 15px;
  text-align: center;
}

th{
  color: white;
  border-style: inset;
}

th.special{
  color: white;
  background-color: #05445E;
  border-style: inset;
}

td{
  font-size: 25px;
  border-style: dashed;
}

table{
  border-style: inset;
  text-align: center;
  margin: 30px 100px;
}

img{
  width: 60%;
  height: 80%;
}

